{% extends "layout.html" %}
{% block content %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="100000000">
        <iframe style="margin-left: 30%;margin-top: 4%;background: #EEEEEE;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-ovyya/embed/charts?id=64dbd198-29c2-4cff-8afa-a39ebf09615f&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="carousel-item" data-bs-interval="100000000">
      <iframe style="margin-left: 30%;margin-top: 4%;background: #EEEEEE;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-ovyya/embed/charts?id=64dbcf8d-cd35-4823-8c77-fe9766d60338&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
    <div class="carousel-item" data-bs-interval="100000000">
      <iframe style="margin-left: 30%;margin-top: 4%;background: #EEEEEE;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-ovyya/embed/charts?id=64dbb185-29c2-4e69-8f2a-a39ebfdf102b&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
      <div class="carousel-item" data-bs-interval="100000000">
      <iframe style="margin-left: 30%;margin-top: 4%;background: #EEEEEE;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-ovyya/embed/charts?id=64dbd769-33d0-4aa7-8d75-712cd68a9040&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
      <div class="carousel-item" data-bs-interval="100000000">
      <iframe style="margin-left: 30%;margin-top: 4%;background: #EEEEEE;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-ovyya/embed/charts?id=64dbb44f-29c2-4798-892c-a39ebfe23526&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
      <div class="carousel-item" data-bs-interval="100000000">
      <iframe style="margin-left: 30%;margin-top: 4%;background: #EEEEEE;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-ovyya/embed/charts?id=64dceb7b-c413-4a24-8c74-ff58fac86503&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock content %}