<!doctype html>
<html lang="en" >
<head>

   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/styling.css">



    <style>
        ul
{

text-decoration: none;float: left;list-style: none;display: block ruby;padding-top: 1.5%;margin-left: 32%;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
color: white;
}

li{
font-family: 'Roboto', sans-serif;
margin-right: 20%;

font-size: 20px;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
    </style>

    <title>Furry Friends Hub</title>
    <link rel = "icon" href =
"static/logo.png"
        type = "image/x-icon">
</head>
<body style ="background: url('static/project.png') no-repeat center center fixed;
  background-repeat: no-repeat;
            background-size: 100vw 100vh;
            background-attachment: fixed;
            height: 40em;
            margin-top: 0;
            padding: 0;" >
<div>
    <ul>

        <li><a href="/">Home</a></li>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="/about-team">About Team</a></li>
        <li style="margin-right:0;"><a href="/project">About Project</a></li>
    </ul>
</div>
</body>

</html>